/* Hide scrollbar for Chrome, Safari and Opera */
.notifications::-webkit-scrollbar,
.reminders::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.notifications,
.reminders {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alert {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.alert:hover {
  transform: scale(1.04);
  -webkit-box-shadow: 0 10px 70px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 800px) {
  .dataDiv {
    max-height: 65vh !important;
  }
}

@media only screen and (min-width: 800px) {
  .dataDiv {
    max-height: 75vh !important;
  }
}
